{% extends 'global/base.html' %}

{% block content %}
{% include 'global/partials/search.html' %}
<div class="container">
  <h1 class="mt-4">Produtos em Destaque</h1>
  <div id="cart-message" style="display: none;"></div>
  <div class="row">
    {% for product in products %}
      <div class="col-md-4">
        <div class="card mb-4 box-shadow" style="display: flex; align-items: center;">
          {% if product.image %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="image-container " width="100px" height="100px" style="max-height: 100px;">
          {% else %}
            Sem imagem
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <span class="text-muted">{{ product.price }}</span>
              <a href="{% url 'product:product_details' product_id=product.id %}">Ver Detalhes</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
