{% extends 'global/base.html' %}

{% block content %}
<div class="container">
  <h1 class="mt-4">Produtos em Destaque</h1>
  <div id="cart-message" style="display: none;"></div>
  <div class="row">
    {% for product in products %}
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="{{ product.image }}" alt="{{ product.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <span class="text-muted">{{ product.price }}</span>
              <!-- Adicione um botão "Adicionar ao Carrinho" com um identificador único (ID) -->
              <button class="btn btn-sm btn-outline-secondary" onclick="addToCart({{ product.id }})">Adicionar ao Carrinho</button>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
  function addToCart(productId) {
    var cartMessage = $('#cart-message');
    $.ajax({
      type: 'POST',
      url: '{% url "product:add_to_cart" %}',
      data: {
        csrfmiddlewaretoken: '{{ csrf_token }}',
        product_id: productId
      },
      success: function(response) {
        if (response.status === 'success') {
          cartMessage.removeClass('alert-danger').addClass('alert-success');
          cartMessage.text('Produto adicionado ao carrinho!');
        } else {
          cartMessage.removeClass('alert-success').addClass('alert-danger');
          cartMessage.text('Erro ao adicionar o produto ao carrinho.');
        }

        cartMessage.show();

        setTimeout(function() {
          cartMessage.hide();
        }, 3000);
      },
      error: function() {
        cartMessage.removeClass('alert-success').addClass('alert-danger');
        cartMessage.text('Erro ao adicionar o produto ao carrinho.');

        cartMessage.show();

        setTimeout(function() {
          cartMessage.hide();
        }, 3000);
      }
    });
  }
</script>

{% endblock %}
