{% extends 'global/base.html' %} 
{% block content %}
<div class="container">
  <script src="https://unpkg.com/imask"></script>
  <h1 class="mt-4">Cadastro de Produtos</h1>

  <div class="main-content container">
    {% if form.errors %}
    <div class="form-content form-content-grid">
      <div class="form-group">
        <div class="message message-error">{{ form.name.errors }}</div>
      </div>
    </div>
    {% endif %}
    <form
      action="{% url 'product:product_create' %}"
      id="registerForm"
      method="POST"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <div class="form-content form-content-grid">
        {% for field in form %}
        <div class="form-group">
          <label for="{{field.id_for_label }}">{{field.label}}</label>
          {% if field.name == 'image' %}
            <input type="file" name="{{ field.name }}" accept="image/*">
          {% else %}
            {{field}}
          {% endif %}
          {% if field.help_text %}
          <p class="help_text">{{field.help_text}}</p>
          {% endif %}
          {{field.errors}}
        </div>
        {% endfor %}
      </div>
      <div class="form-content form-content-grid">
        <div class="form-group">
          <button type="submit">Cadastrar</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Adiciona a mascara no preco
    var precoInput = document.getElementById("id_price");
    var precoMask = IMask(precoInput, {
      mask: "R$ 000.000,00",
    });
  });
</script>
{% endblock content %}
