{% extends 'global/base.html' %}

{% block content %}
  <div class="container">
    <h1 class="mt-4">Atualizar Produtos</h1>

    <div class="main-content container">
      {% if form.errors %}
      <div class="form-content form-content-grid">
        <div class="form-group">
          <div class="message message-error">
            {{ form.name.errors }}
          </div>
        </div>
      </div>
      {% endif %}
      <form action="{% url 'product:product_update' pk=instance.pk %}" id="updateform" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-content form-content-grid">
          {% for field in form %}
            <div class="form-group">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {% if field.name == 'image' %}
                <input type="file" name="{{ field.name }}" accept="image/*">
                {% if instance.image %}
                  <img src="{{ instance.image.url }}" alt="{{ instance.name }}" class="img-thumbnail" style="max-height: 50px;">
                {% else %}
                  Sem imagem
                {% endif %}
              {% else %}
                {{ field }}
              {% endif %}
            </div>
          {% endfor %}
        </div>
        <div class="form-content form-content-grid">
          <div class="form-group">
            <button type="submit">Atualizar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script src="https://unpkg.com/imask"></script>
{% endblock content %}
