.fixed-top-navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav .return-button-bottom {
  background-color: #673ab7;
  border-color: #673ab7;
  color: #fff;
  padding: 10px 15px;
  margin-right: 20px;
}

.navbar-nav .return-button-bottom:hover {
  background-color: #512da8;
  border-color: #512da8;
}

.navbar-nav .nav-item {
  margin-left: auto;
}

.navbar-nav .btn-primary {
  background-color: #673ab7;
  border-color: #673ab7;
  color: #fff;
  padding: 10px 15px;
  margin-left: 10px;
}

.navbar-nav .btn-primary:hover {
  background-color: #512da8;
  border-color: #512da8;
}

.navbar-nav .fa-sign-out-alt {
  color: #ffffff;
}

.navbar-nav .nav-item a {
  color: #ffffff;
  transition: color 0.3s ease;
}

.navbar-nav .nav-item a:hover {
  color: #c4acec;
}

.fixed-top-navbar.scrolled {
  background-color: #6a1b9a;
  color: #000000;
}

.navbar-nav .nav-item.dropdown {
  position: relative;
}

.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.navbar-nav .nav-item.dropdown .dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-item.dropdown .dropdown:hover {
  color: #c4acec;
}

.navbar-nav .nav-item.dropdown .dropdown-item {
  display: block;
  width: 100%;
  padding: 10px 15px;
  clear: both;
  font-weight: 400;
  color: #333;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.navbar-nav .nav-item.dropdown .dropdown-item:hover {
  background-color: #f8f9fa;
}

.navbar-nav .nav-item.dropdown .nav-link::after {
  content: "";
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.navbar-nav .nav-item.dropdown .nav-link {
  color: #ffffff;
  transition: color 0.3s ease;
}

.navbar-nav .nav-item.dropdown:hover .nav-link {
  color: #673ab7;
}
