<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Login</title>
    {% comment %} {% include 'customers/partials/header.html' %} {% endcomment %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/styles.css' %}">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{% static 'styles.css' %}" rel="stylesheet" ty pe="text/css">
    {% include 'includes/messages.html' %}
</head>

<body class="d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="container custom-container">
        <div class="row">
            <div class="col-sm">
                <form method="POST" action="{% url 'user:login_view' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="label_username">Usuário</label>
                        <input name="username" class="form-control" id="label_username" aria-describedby="emailHelp"
                            placeholder="Nome do Usuário">
                        <small id="emailHelp" class="form-text">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="label_password">Senha</label>
                        <input type="password" name="password" class="form-control" id="label_password" placeholder="password">
                    </div>
                    {% comment %} <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div> {% endcomment %}
                    <button type="submit" class="btn btn-primary">Acessar</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>