{% extends 'global/base.html' %} 
{% load static %}
{% block title %}{{ title }}{% endblock title%} 

{% block content %}
<div class="container">
  <script src="https://unpkg.com/imask"></script>
  <h1 class="mt-2">Cadastro</h1>

  <div class="main-content container">
    {% if form.errors %}
    <div class="form-content form-content-grid">
      <div class="form-group">
        <div class="message message-error">{{ form.errors }}</div>
      </div>
    </div>
    {% endif %}
    <form
      action="{% url 'user:register_view'%}" id="registerForm" method="POST">
      {% csrf_token %}
      <div class="form-content form-content-grid">
        {% for field in form %}
        <div class="form-group">
          <label for="{{field.id_for_label }}">{{field.label}}</label>
          {{field}} {% if field.help_text %}
          <p class="help_text">{{field.help_text}}</p>
          {% endif %} {{field.errors}}
        </div>
        {% endfor %}
      </div>
      <div class="form-content form-content-grid">
        <div class="form-group">
          <button type="submit">Cadastrar</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Adiciona a mascara no celular
    var celularInput = document.getElementById("id_cell");
    var celularMask = IMask(celularInput, {
      mask: "(00) 00000-0000",
    });
    // Adicona a mascara no cep
    var celularInput = document.getElementById("id_cep");
    var celularMask = IMask(celularInput, {
      mask: "00000-000",
    });
    //Adicona a mascara no RG
    var celularInput = document.getElementById("id_rg");
    var celularMask = IMask(celularInput, {
      mask: "00.000.000-00",
    });
    //Adicona a mascara no CPF
    var celularInput = document.getElementById("id_cpf");
    var celularMask = IMask(celularInput, {
      mask: "000.000.000-00",
    });
  });
</script>
<link rel="stylesheet" href="{% static 'global/css/register.css' %}" type="text/css">
{% endblock content %}
